
<div class="topnav" id="myTopnav">
    <a [routerLink]="['/']" >carlos-cecnn</a>
    <a [routerLink]="['/contact']">Find me</a>
    <a [routerLink]="['/art']">My art</a>
    <a [routerLink]="['/path']" >My path</a>
    <a [routerLink]="['/']">Me</a>

    <a href="javascript:void(0);" class="icon" (click)="responsive_menu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
