.grid-container {
  font-family: "Roboto Mono";
  margin-top: 2%;
  display: grid;
  grid-template-areas:
    "github insta"
    "sound mail";
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-left: auto;
  margin-right: auto;
  height: 88vh;
}
.github {
  grid-area: github;
}

.mail {
  grid-area: mail;
}

.soundcloud {
  grid-area: sound;
}

.insta {
  grid-area: insta;
}

.card {
  
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-areas: "logo text";
  grid-template-columns: 40% 60%;
  background-color:  #dfdede;
  border-radius: 6px;
}

.fa {
  font-size: 12rem;
}

.icon {
  grid-area: logo;
  margin: auto;
}

.text {
  grid-area: text;
  margin: auto;
  display: grid;
  grid-template-areas:
    "title"
    "description"
    "button";
  height: 95%;
  width: 95%;
  grid-template-rows: 20% 50% 10%;
  border-left: 0.2rem solid #333;
  text-align: left;
}
.text-title {
  grid-area: title;
  margin-left: 5%;
}

.text-desc {
  grid-area: description;
  margin-left: 5%;
}

.text-button {
  grid-area: button;
}

button {
  font-family: "Roboto Mono";
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #3f3b59;
  cursor: pointer;
  margin-right: 10%;
  margin-left: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
  text-align: center; margin: auto;
}

.fa-instagram {
  color: #c13584;
}

.fa-envelope-o {
  color: #3c44b6;
}

.fa-github{
  color:#333;
}

.fa-soundcloud{
    color: #FE5000;
    font-size: 10rem;
}

@media(max-width:1000px){
  .grid-container {
    font-family: "Roboto Mono";
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 88vh;
  }
  .fa{
    font-size: 7rem;
  }
  .card {
  margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-areas: 
    "logo"
    "text";
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    background-color:  #dfdede;
    border-radius: 6px;
  }
  .text {
    grid-area: text;
    margin: auto;
    display: grid;
    grid-template-areas:
      "title"
      "description"
      "button";
    height: 95%;
    width: 95%;
    grid-template-rows: 20% 50% 10%;
    border-top: 0.2rem solid #333;
    border-left: #dfdede;
    text-align: center;
  }

  button {
    font-family: "Roboto Mono";
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #3f3b59;
    cursor: pointer;
    margin-right: 10%;
    margin-left: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 20px;
  }
  .insta button{
    margin-top: 8%;
  }
}

@media only screen and (max-width: 1299px) and (min-width: 1001px){
  .fa{
    font-size: 7rem;
  }
  button {
    font-family: "Roboto Mono";
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #3f3b59;
    cursor: pointer;
    margin-right: 10%;
    margin-left: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 20px;
  }
  .text {
    grid-area: text;
    margin: auto;
    display: grid;
    grid-template-areas:
      "title"
      "description"
      "button";
    height: 80%;
    width: 95%;
    grid-template-rows: 30% 50% 10%;
    border-left: 0.2rem solid #333;
    border-top: #dfdede;
    text-align: left;
    font-family: "Roboto Mono";
    font-size: small;
  }
}