<div class="grid-container">
  <div *ngFor="let contact of contactInfo; let i = index" [class]="contact.class">
    <div class="card" >
        <div class="icon">
            <i class="fa"[class]="contact.icon" aria-hidden="true"></i>
        </div>
        <div class="text">
            <h1 class="text-title">{{contact.title}}</h1>
            <p class="text-desc">{{contact.desc}}</p>
            <button class="text-button"><a [href]="contact.button.link">{{contact.button.text}}</a></button>
        </div>

    </div>
  </div>
</div>
