<div class="photo-card">
    <div class="icon">
        <i class="fa fa-camera-retro" aria-hidden="true"></i>
    </div>
    <div class="text">
        <h1 class="text-title">I'll upload photos I've taken, I promise</h1>
        <p class="text-desc">I haven't developed any film in a long time, I'm sorry I don't have pictures insite. While waiting, take a listen to one of my songs.</p>
    </div>
</div>


<iframe
  width="100%"
  height="166"
  scrolling="no"
  frameborder="no"
  allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/596001663&color=%233f3b59&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
  id="soundcloud"
></iframe>
