#soundcloud {
  margin-top: 2%;
}
.photo-card {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 60vh;
  display: grid;
  grid-template-areas: "logo"
   "text";
  grid-template-rows: 55% 45%;
  grid-template-columns: 100%;
  background-color: #dfdede;
  border-radius: 6px;
}
.icon {
  grid-area: logo;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
.icon .fa {
  font-size: 17rem;
  color: #A65858;
}

.text {
    grid-area: text;
    margin: auto;
    display: grid;
    grid-template-areas:
      "title"
      "description";
    height: 80%;
    width: 95%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    border-top: 0.2rem solid #333;
    border-right: #dfdede;
    text-align: center;
    font-family: "Roboto Mono";
  }

  .text .text-title {
    grid-area: title;
    text-align: center;
  }
  
  
  .text .text-desc {
    grid-area: description;
  }
@media only screen and (max-width: 1025px) and (min-width: 768px){
    .icon .fa{
        font-size: 10rem;
    }

    .photo-card
    {
        grid-template-rows: 35% 65%;
    }
}
@media (max-width: 767px) {
    
    .photo-card{
        width: 80%;
    }

  .icon .fa {
    font-size: 12rem; 
  }

  .text .text-title {
    font-size: 14px;
  }
  
  .text .text-desc {
    font-size: x-small;
  }
}
