<div class="grid-container">
  <div class="info">
    <div class="info-text">
      <h1><strong>Howdy!</strong></h1>
      <p>
          My  name is <strong> Carlos E. Carbajal Nogués.</strong>
        
      </p>
      <p>
          I'm a <strong>Software Engineer</strong> currently based in Mexico City.
      </p>
      <p>
          I was a <strong>Facebook Global Hackathon Finalist</strong> in 2018.
      </p>
      <p>
          I'm into analog photography, I love <strong>taking portraits</strong>.
      </p>
      <p>
          I've <strong>composed and produced</strong> a couple of songs.
      </p>
      <button><a [routerLink]="['/resume']" >Take a look at my resume</a></button>
    </div>
  </div>
  <div class="portrait">
    <img src="../../../assets/me.png" alt="Portrait of me taken by @Maxsooh" />
  </div>
</div>
