.grid-container {
  margin-top: 3%;
  display: grid;
  grid-template-areas: "info portrait";
  grid-template-columns: 50% 50%;
}

.info {
  grid-area: info;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Roboto Mono";
}

.info-text {
  align-self: center;
}

.portrait {
  grid-area: portrait;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

button {
  font-family: "Roboto Mono";
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #3f3b59;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8%;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .grid-container {
    margin-top: 1%;
    grid-template-areas:
      "portrait"
      "info";
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
  }

  p {
    font-size: small;
  }

  img{
    
    width: 75%;
  }
}
@media(width:768px)
{
  .grid-container {
    margin-top: 8%;
    grid-template-areas:
      "portrait"
      "info";
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
  }
  img {
    margin-top: 5%;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
