<div class="timeline">
  <ul>
    <li *ngFor="let step of pathContent; let i = index">
        <div class="content">
            <h3>{{step.title}}</h3>
            <p>{{step.desc}}</p>
        </div>
        <div class="time" [id]="step.id_time">
          <h4>{{step.time}}</h4>
        </div>
    </li>
    <div style="clear: both;"></div>
  </ul>
</div>