.timeline {
  position: relative;
  font-family: "Roboto Mono";
  margin: 50px auto;
  padding: 40px auto;
  width: 1000px;
  box-sizing: border-box;
}

.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: rgb(80, 80, 80);
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: #d95b72;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #d95b7285;
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: #d95b72;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #d95b7285;
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #a65858;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -210px;
  margin: 0;
  padding: 8px 16px;
  background: #d95b72;
  color: white;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #d95b7285;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -210px;
  margin: 0;
  padding: 8px 16px;
  background: #d95b72;
  color: white;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #d95b7285;
}


#hacks {
  left: -200px;
}

#first_milestone {
  left: -240px;
}

#other_milestone {
  left: -290px;
}

#salon {
  right: -220px;
}
@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  .timeline::before {
    left: 20px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 40px;
    right: inherit;
  }

  #other_milestone h4{
    font-size: 13px;
  }

  #salon, #hacks, #other_milestone, #first_milestone {
    top: -30px;
    left: 40px;
    right: inherit;
  }
  
}
